<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bulletin Board</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/Bulletin_Board_CSS.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
	<script src="js/bb.js"></script>
	</head>
	<body ng-app="bb" ng-controller="announcementDetailsCtrl">

		<ion-header-bar class="bar bar-header bar-stable">
		<div class="buttons">
		<a href="index.html">
			<button class="button button-positive"><i class="icon ion-home"></i></button></a>
		</div>
		<h1 class="title">Bulletin Board</h1>
		<div class="buttons">
		<a ng-show="loggedIn" href="profile.html">
			<button class="button button-positive"><i class="icon ion-android-person"></i>{{username}}</button></a>
		<a ng-hide="loggedIn" href="signup.html">
			<button  class="button button-positive">Sign Up/Sign In</button>
		</a>
		</div>
		</ion-header-bar>

		<ion-header-bar class="bar bar-subheader bar-light">
		<h2 class="title">Announcement Details</h2>
		</ion-header-bar>

<!--CONTENT-->
		<ion-content class="has-subheader">
		<div class="item item-avatar">
			<img src="img/{{announcement.category}}.png">
			<h2><span>{{announcement.title}}</span></h2>
			<p>
				<span>{{announcement.description}}</span> 
				</br>

				<p ng-show="announcement.category=='e'">
					<span>Location: {{announcement.location}}</span>
					</br>
					<span>Date of Event: {{announcement.dateofevent}}</span>
					</br>
					<span>Fee: {{announcement.fee}}</span>
					</br>
				</p>
				<p ng-show="announcement.category=='b'">
					<span>Name: {{announcement.name}}</span>
					</br>
					<span>Author: {{announcement.author}}</span>
					</br>
					<span>Edition: {{announcement.edition}}</span>
					</br>
					<span>Year: {{announcement.year}}</span>
					</br>
					<span>Price: {{announcement.price}}</span>
					</br>
				</p>
				<p ng-show="announcement.category=='h'">
					<span>Address: {{announcement.address}}</span>
					</br>
					<span>Monthly Price: {{announcement.monthlyprice}}</span>
					</br>
				</p>
				<p ng-show="announcement.category=='m'">
					<span>Subject: {{announcement.subject}}</span>
					</br>
					<span>Fee: {{announcement.fee}}</span>
					</br>
				</p>
				<p ng-show="announcement.category=='o'">
					<span>Item Name: {{announcement.itemname}}</span>
					</br>
					
				</p>

				<p ng-show="announcement.category=='a'">
					<span>Type of Mod: {{announcement.typeofmod}}</span>
					</br>
					<div ng-show="announcement.postid==1">
					<a ng-show="loggedIn" href="premiumpayment.html">
					<button class="button button-royal" >Subscribe</button>
					</a>
					<a ng-hide="loggedIn" href="signup.html">
					<button class="button button-royal" >Subscribe</button>
					</a>
					</div>
					
				</p>
				
				<span>Date Added: {{announcement.dateadded}}</span>
			</p>
		</div>
		<div class="list-inset" ng-hide="announcement.category=='a'">
			<a ng-show="loggedIn" ng-click="transferMessage()">
				<button class="button button-positive"><i class="icon ion-paper-airplane"></i></button></a>
			<a ng-hide="loggedIn" href="signup.html">
				<button class="button button-positive"><i class="icon ion-paper-airplane"></i></button></a>

			<a ng-show="loggedIn" ng-click="transferPayment()">
				<button class="button button-positive"><i class="icon ion-card"></i></button></a>
			<a ng-hide="loggedIn" href="signup.html">
				<button class="button button-positive"><i class="icon ion-card"></i></button></a>


			<a ng-show="loggedIn" id="reportButton" ng-click="transferReport()">
				<button class="button button-assertive icon-right"><i class="icon ion-alert-circled"></i></button>
				</a>
			<a ng-hide="loggedIn" id="reportButton" href="signup.html">
				<button class="button button-assertive icon-right"><i class="icon ion-alert-circled"></i></button>
				</a>
			</div>
		</ion-content>
		
	</body>
</html>
