
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bulletin Board</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/Bulletin_Board_CSS.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/bb.js"></script>
	</head>
	<body ng-app="bb" ng-controller="newPostCtrl">
	<ion-header-bar class="bar bar-header bar-stable">
		<div class="buttons">
		<a href="index.html">
			<button class="button button-positive"><i class="icon ion-home"></i></button></a>
		</div>
		<h1 class="title">Bulletin Board</h1>
		<div class="buttons">
		<a href="profile.html">
		<button class="button button-positive"><i class="icon ion-android-person"></i>{{username}}</button></a>
		</div>
		</ion-header-bar>

		<ion-header-bar class="bar bar-subheader bar-light">
		<h2 class="title">New Post</h2>
		</ion-header-bar>

		<ion-content class="has-subheader">
		
		<div class="list">
			<label class="item item-input">
			<span class="input-label">Title:
			<span class="error">{{titleError}}</span></span>
			<input required ng-model="announcement.title" type="text"/>
			</label>
			<label class="item item-input">
			<span class="input-label">Description:</span>
			<textarea ng-model="announcement.description" ></textarea>
			</label>

			<ion-list>
			<div class="item item-divider">Category:</div>
			<ion-radio ng-model="category" value="Event" > Event</ion-radio>
			<ion-radio ng-model="category" value="Book"> Book</ion-radio>
			<ion-radio ng-model="category" value="Housing"> Housing</ion-radio>
			<ion-radio ng-model="category" value="Mentorship"> Mentorship</ion-radio>
			<ion-radio ng-model="category" value="Other"> Other</ion-radio>
			</ion-list>
			<div class="item-divider"></div>
			<div ng-show="category=='Event'" class="event">
				<label class="item item-input">
				<span class="input-label">Date:</span>
				<input ng-model="detail.date.year" type="number" placeholder="yyyy"/>
				<input ng-model="detail.date.month" type="number" placeholder="mm"/>
				<input ng-model="detail.date.day" type="number" placeholder="dd"/>
				<input ng-model="detail.date.hour" type="number" placeholder="hh"/>
				<input ng-model="detail.date.minute" type="number" placeholder="mm"/>

				</label>
				<label class="item item-input">
				<span class="input-label">Location:</span>
				<input ng-model="detail.location" type="text" />
				</label>
				<label class="item item-input">
				<span class="input-label">Fee: $</span>
				<input ng-model="detail.fee" type="number" ng-init="detail.fee=0.00" min="0" step="0.01" />
				</label>

				<button class="button button-balanced" ng-click="postEvent(announcement,detail)">Post</button>
			</div>
			
			<div ng-show="category=='Book'" class="book">
				<label class="item item-input">
				<span class="input-label">Name:
				<span class="error">{{nameError}}</span></span>
				<input required ng-model="detail.name" type="text" /></label>
				<label class="item item-input">
				<span required class="input-label">Author:
				<span class="error">{{authorError}}</span></span>
				<input required ng-model="detail.author" type="text" /></label>
				<label class="item item-input">
				<span class="input-label">Edition:</span>
				<input ng-model="detail.edition" type="text"  /></label>
				<label class="item item-input">
				<span class="input-label">Year:</span>
				<input ng-init="detail.year=null" ng-model="detail.year" type="number" /></label>
				<label class="item item-input">
				<span class="input-label">Price: $</span>
				<input ng-init="detail.price=0" ng-model="detail.price" type="number"  min="0" step="0.01" /></label>

				<button class="button button-balanced" ng-click="postBook(announcement,detail)">Post</button>
			</div>
			
			<div ng-show="category=='Housing'" class="housing">
				<label class="item item-input">
				<span class="input-label">Address:</span>
				<input ng-model="detail.address" type="text"/></label>
				<label class="item item-input">
				<span class="input-label">Monthly Price:$</span>
				 <input ng-model="detail.monthlyprice" type="number"  min="0" step="0.01" /></label>
				 <button class="button button-balanced" ng-click="postHousing(announcement,detail)">Post</button>
			</div>
			
			<div ng-show="category=='Mentorship'" class="mentorship">
				<label class="item item-input">
				<span class="input-label">Subject:
				<span class="error">{{subjectError}}</span></span>
				<input required ng-model="detail.subject" type="text" /></label>
				<label class="item item-input">
				<span class="input-label">Fee:$</span>
				 <input ng-model="detail.fee" type="number"  min="0" step="0.01" /></label>
				 <button class="button button-balanced" ng-click="postMentorship(announcement,detail)">Post</button>
			</div>
			
			<div ng-show="category=='Other'" class="other">
				<label class="item item-input">
				<span class="input-label">Item Name:
				<span class="error">{{itemError}}</span></span>
				<input required ng-model="detail.item" type="text" /></label>
				<button class="button button-balanced" ng-click="postOther(announcement,detail)">Post</button>
			</div>
		</div>

		</ion-content>
	</body>
</html>
