<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bulletin Board</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/Bulletin_Board_CSS.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
	<script src="js/bb.js"></script>
	</head>
	<body ng-app="bb" ng-controller="profileCtrl"> 

	<ion-header-bar class="bar bar-header bar-stable">

	<div class="buttons">
		<a href="index.html">
			<button class="button button-positive"><i class="icon ion-home"></i></button></a>
		</div>

		<h1 class="title">Bulletin Board</h1>
		<div class="buttons">
		<a href="settings.html">
		<button class="button button-positive"><i class="icon ion-gear-b"></i></button></a>
		</div>
		</ion-header-bar>
		<ion-header-bar class="bar bar-subheader bar-light">
		<h2 class="title">Profile</h2>
		</ion-header-bar>

		<ion-content class="has-subheader" draggable="false">
			<div class="item item-avatar">
				<img src="{{user.profpic}}">
				<h2><span id="username">{{user.username}}</span></h2>
				<p>
					<span id="email">{{user.email}}</span> 
					</br>
					Phone Numbers:</br>
					<span id="phone" ng-repeat="phonenumber in user.phonenumber">{{phonenumber}}</br></span>
					Credit Cards:</br>
					<span id="creditcard" ng-repeat="creditcard in creditcards">{{creditcard.cardtype}}: {{creditcard.cardnumber}}</br></span></p>
			</div>
			
			<ion-list>
			<div class="item item-divider">History:</div>
				<table style="width:100%">
					<tr>
						<td><ion-radio ng-model="details" value="messages" ng-click="chatlogs()"><i class="icon ion-chatbubbles"></i></ion-radio></td>
						<td><ion-radio ng-model="details" value="announcements" ng-click="announcementHistory()"><i class="icon ion-compose"></i></ion-radio></td>
						<td><ion-radio ng-model="details" value="payments" ng-click="paymentHistory()"><i class="icon ion-card"></i></ion-radio></td>
					</tr>
				</table>
			
			
			<div class="item-divider"></div>
			
			<div ng-show="details=='messages'">
				<div class="list">
					<a ng-repeat="chat in chatlogs" class="item item-avatar" ng-click="transferMessage(chat.uid)">
					  <img src="{{chat.profpic}}">
					  <h2>{{chat.username}}</h2>
					  <p>{{chat.messagetext}}</p>
					</a>

				</div>
			</div>
			
			<div ng-show="details=='announcements'">
			<a ng-repeat="announcement in announcements" class="item item-avatar" ng-click="transferAnnouncement(announcement.category,announcement.postid)">
			  <img src="img/{{announcement.category}}.png">
			  <h2>{{announcement.title}}</h2>
			  <p>{{announcements.description}}</p>
			</a>
			</div>
			
			<div ng-show="details=='payments'">
				<ul class="list">
					<li class="item" ng-repeat="payment in payments">
					<div ng-show="user.uid==payment.buyerid">
						{{payment.dateofpayment}}: Transaction of {{payment.title}} with user {{payment.sellerid}} through {{payment.cardtype}} ......................  (-){{payment.amount}}

					</div>
					<div ng-show="user.uid==payment.sellerid">
						{{payment.dateofpayment}}: Transaction of {{payment.title}} with user {{payment.buyerid}} through {{payment.cardtype}} ......................  (+){{payment.amount}}
					</div>
					</li>
				</ul>
			</div>

			</ion-list>
			
		<div id="profileButtons" class="list-inset button-group">
		<a ng-show="ifAdmin" href="reportlist.html"
		<button class="button button-positive">Report List</button>
		</a>
		<a href="premiumpayment.html"
		<button class="button button-royal" >Subscribe</button>
		</a>
		<a ng-show="ifAdmin" href="admod.html"
		<button class="button button-positive" >Admod</button>
		</a>
		
		
		</div>			
			
			<div id="logout">
				<a ng-click="logout()">
					<button class="button button-assertive">Log Out</button>
				</a>
			</div>

			
		</ion-content>
		

		</body>
</html>
