<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bulletin Board</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/Bulletin_Board_CSS.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/bb.js"></script>
	</head>
	<body ng-app="bb">
	<ion-header-bar class="bar bar-header bar-stable">
		
		<div class="buttons">
		<a href="announcement_details.html">
		<button class="button button-positive"><i class="icon ion-chevron-left"></i>
		</button></a>
		</div>

	<div class="buttons">
		<a href="index.html">
			<button class="button button-positive"><i class="icon ion-home"></i></button></a>
		</div>

		<h1 class="title">Bulletin Board</h1>
		<div class="buttons">
		<a href="profile.html">
		<button class="button button-positive"><i class="icon ion-android-person"></i></button></a>
		</div>
		</ion-header-bar>
		<ion-header-bar class="bar bar-subheader bar-light">
		<h2 class="title">Report</h2>
		</ion-header-bar>

		<ion-content class="has-subheader">
		<ion-list>
			<div class="item item-divider">Category:</div>
			<ion-radio ng-model="type" value="inappropriate" >Inappropriate</ion-radio>
			<ion-radio ng-model="type" value="spam"> Spam</ion-radio>
			<ion-radio ng-model="type" value="offensive">Offensive</ion-radio>
			<ion-radio ng-model="type" value="scam">Scam</ion-radio>
			<ion-radio ng-model="type" value="other"> Other</ion-radio>
			</ion-list>
	
		<label class="item item-input">
			<span class="input-label">Comment:</span>
			<textarea></textarea>
			</label>
		<button class="button button-balanced">Send</button>	
	</body>
</html>
