
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bulletin Board</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/Bulletin_Board_CSS.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/bb.js"></script>
	</head>
	<body ng-app="bb" ng-controller="settingsCtrl">
	<ion-header-bar class="bar bar-header bar-stable">
		<div class="buttons">
		<a href="index.html">
			<button class="button button-positive"><i class="icon ion-home"></i></button></a>
		</div>
		<h1 class="title">Bulletin Board</h1>
		<div class="buttons">
		<a href="profile.html">
		<button class="button button-positive"><i class="icon ion-android-person"></i>{{username}}</button></a>
		</div>
		</ion-header-bar>

		<ion-header-bar class="bar bar-subheader bar-light">
		<h2 class="title">Settings</h2>
		</ion-header-bar>

		<ion-content class="has-subheader">
		
		<div class="list">
			<label class="item item-input">
			<span class="input-label">Username:</span>
			<input ng-model="userInfo.username" type="text"/>
			</label>
			<label class="item item-input">
			<span class="input-label">Email:</span>
			<input ng-model="userInfo.email" type="email"/>
			</label>
			<label class="item item-input">
			<span class="input-label">Phone:</span>
			<input ng-model="userInfo.phonenumber" type="tel"/>
			</label>
			<label class="item item-input">
			<span class="input-label">New Password:</span>
			<input ng-model="newPassword" type="password"/>
			</label>
			<label class="item item-input">
			<span class="input-label">Confirm Password:
			<span class="error">{{confirmError}}</span></span>
			<input ng-model="confirmPassword" type="password"/>
			</label>

			<div class="item item-divider">Credit Cards:</div>
			<label ng-repeat="card in userCreditCards" class="item item-select item-input">
				<input ng-model="card.cardnumber" type="text"/>
				<select ng-model="card.cardtype">
					<option  value="Paypal">Paypal</option>
					<option value="MasterCard">Master Card</option>
					<option  value="Visa">Visa</option>
					<option  value="Discover">Discover</option>
					<option value="American Express">American Express</option>
				</select>
				
			</label>

			<label class="item item-select item-input">
			<input ng-model="newCard.cardnumber" type="text"/>
				<select ng-model="newCard.cardtype">
					<option  value="Paypal">Paypal</option>
					<option value="MasterCard">Master Card</option>
					<option  value="Visa">Visa</option>
					<option  value="Discover">Discover</option>
					<option value="American Express">American Express</option>
				</select>
				
			</label>

			<div class="item item-divider "></div>
				<label class="item item-input">
				<span class="input-label">Current Password:
				<span class="error">{{currentError}}</span></span>
				<input ng-model="currentPassword" required type="password"/>
			</label>

			</label>{{card.cardtype}}
			
			<button ng-click="saveSettings(newCard, newPassword, confirmPassword, currentPassword)" class="button button-balanced">Save</button>
		</div>

		</ion-content>
	</body>
</html>
