<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bulletin Board</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/Bulletin_Board_CSS.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/bb.js"></script>
	</head>

	<body ng-app="bb" ng-controller="loginCtrl">
	<ion-header-bar class="bar bar-header bar-stable">
		<div class="buttons">
		<a href="index.html">
			<button class="button button-positive"><i class="icon ion-home"></i></button></a>
		</div>
		<h1 class="title">Bulletin Board</h1>
		</ion-header-bar>

		<ion-content class="has-header">
		
		<!--Sign In-->
		<div class="item item-divider">Log In</div>
		<ion-list>

		<form name="loginForm" class="item item-input">
				<span class="input-label">Email:</span>
				<input ng-model="user.email" type="email"/>
				<span class="input-label">Password:</span>
				<input ng-model="user.password" type="password" />
				<button ng-click="login(user)" class="button button-positive">Log In</button>
		</form>
		
		</br><span class="error">{{error}}</span></br></br>
		</ion-list>
		

		<div class="item item-divider">Sign Up</div>
	
		<ion-list>
		<label class="item item-input">
		<span class="input-label">Username:
		<span class="error">{{usernameError}}</span></span>
				<input ng-model="newUser.username" type="text" />					
		</label>
		<label class="item item-input">
			<span class="input-label">Email:
			<span class="error">{{emailError}}</span></span>
			<input ng-model="newUser.email" type="email" />
		</label>
		<label class="item item-input">
			<span class="input-label">Password:
			<span class="error">{{passwordError}}</span></span>
			<input ng-model="newUser.password" type="password" />
		</label>
		<label class="item item-input">
			<span class="input-label">Confirm Password:
			<span class="error">{{confirmError}}</span>
			<span class="error">{{notSameError}}</span></span>
			<input ng-model="newUser.confirm" type="password" />
		</label>
		<label>
			<button class="button button-positive" ng-click="signUp(newUser)">Sign Up</button>
		</label>
		</ion-list>

		
		</ion-content>
	</body>
</html>
