a{
	text-decoration: none
}

body{
	background-color:#FFF
}

#searchbar{
	width:55%
}
#premiumPosts{
	max-width:600px;
	position:relative;
}
button-group{
	
}
.border{
	background-color:#000;
}

#reportButton{
	float:right;
}
.error{
	color:red;
}
#subscribe{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	
	
}
#reportsCSS{
	width: 50%;
	float: left;
	
}
#reportlistdivider{
	width: 50%;
	float:left;
}
#reportdetailsdivider{
	width:50%;
	float: right;
}
#reportAnnouncementDetails{
	width:50%;
	float:right;
}