a{
	text-decoration: none
}

body{
	background-color:#FFF
}

#searchbar{
	width:55%
}
#premiumPosts{
	max-width:600px;
	position:relative;
}
button-group{
	
}
.border{
	background-color:#000;
}

#reportButton{
	float:right;
}
.error{
	color:red;
}